/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.container{
		text-align: center;
	}
	.container h1 {
		font-size: 20px;
		color: blue;
	}
	.container h3 {
		font-size: 15px;
		color: red;
		margin: 50px auto;
	}
	.container p {
		width: 50%;
		margin: 0 auto;
		font-size: 10px;
		text-align: center;
	}
	.box{
	background-color: green;
	}
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
		.container{
		text-align: center;
	}
	.container h1{
		font-size: 30px;
		color: tomato;
	}
	.container h3{
		font-size: 20px;
		color: teal;
		margin: 50px auto;
	}
	.container p{
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}
	.box{
	background-color: blue;
	}
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
		.container{
		text-align: center;
	}
	.container h1{
		font-size: 40px;
		color: tomato;
	}
	.container h3{
		font-size: 30px;
		color: teal;
		margin: 50px auto;
	}
	.container p{
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}
	.box{
	background-color: red;
	}
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
		.container{
		text-align: center;
	}
	.container h1{
		font-size: 45px;
		color: tomato;
	}
	.container h3{
		font-size: 35px;
		color: teal;
		margin: 50px auto;
	}
	.container p{
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}
	.box{
	background-color: teal;
	}
}
/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
		.container{
		text-align: center;
	}
	.container h1{
		font-size: 50px;
		color: tomato;
	}
	.container h3{
		font-size: 40px;
		color: teal;
		margin: 50px auto;
	}
	.container p{
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}
	.box{
	background-color: tomato;
	}
}