*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}

.container{
	text-align: center;
}
.container h1{
	font-size: 50px;
	color: tomato;
}
.container h3{
	font-size: 40px;
	color: teal;
	margin: 50px auto;
}
.container p{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.grid{
	margin-top: 30px;
}
.box{
	min-height: 100px;
	background-color: red;
	margin-bottom: 5px;
}